name: Enviroment Workflow

on: push
env: 
  WF_ENV: Available to all jobs
  WF_SECRET_ENV: {{ secrets.WF_SECRET_ENV }}
  
  
jobs: 
  log-env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: Available only in jobs
    steps: 
      - name: Log ENV variables
        env:
          STEP_JOB: Available only in step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_JOB: ${STEP_JOB}"
          echo "WF_SECRET_ENV: ${WF_SECRET_ENV}"
  log-default-env:
    runs-on: ubuntu-latest
    steps:
      - name: Log Default
        run: |
          echo "HOME: ${HOME}"
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_JOB: ${STEP_JOB}"